<template>
    <span>
        <span class="popover-parent lg" v-if="data">
            <popover effect="fade" trigger="hover" placement="top" :title="title" :content="content">
                <span>
                    <i v-if="data" :class="classes" aria-hidden="true"></i>
                </span>
            </popover>
        </span>
    </span>
</template>

<script>
    var popover = require('vue-strap/src/popover');

    export default {
        components: {
            popover: popover,
        },
        props: {
            data: {
                required: true
            },
            title: {
                required: true
            },
            content: {
                required: true,
            },
            classes: {
                type: String,
                required: true,
            }
        },
    }
</script>
<style>
    .popover-parent .popover.top {
        width: 200px;
        text-align: center;
    }
</style>