<template>
    <div class="awards-parent">
        <award :data="data.mostGoalsPerGame" :title="'Attack, attack, attack!!!'"
               :content="'Mål per kamp: '+data.goalsPerGame" :classes="'fa fa-bullseye'"></award>
        <award :data="data.metaData.hasNoWins" :title="'HAHAHAHAHAHAHA'" :content="'5+ kampen uden sejre'"
               :classes="'fa fa-snowflake-o'"></award>
        <award :data="data.metaData.isUndefeated" :title="'Hot, hot, hot!!!'" :content="'5+ kampe uden nederlag'"
               :classes="'glyphicon glyphicon-fire'"></award>
        <award :data="data.metaData.isLastMonthsLoser" :title="'Lorten'" :content="turds"
               :classes="'fa fax-pile-of-poo'"></award>
        <award :data="data.metaData.isLastMonthsWinner" :title="'FIFA Champ!'" :content="'Sidste måneds vinder'"
               :classes="'fa fa-trophy'"></award>
    </div>
</template>

<script>
    var popover = require('vue-strap/src/popover');

    export default {
        components: {
            popover: popover,
        },
        props: {
            data: {
                type: Object,
                required: true
            }
        },
        mounted() {
            this.turds = this.getTurds(12);
        },
        data() {
            return {
                turds: ''
            }
        },
        methods: {
            getTurds(amount) {

                let turds = '';

                for (let i = 0; i < amount; i++) {
                    turds += '<i class=\'fa fax-pile-of-poo\' aria-hidden=\'true\'></i>';
                }
                return turds;
            }
        }
    }
</script>
<style>

    .awards-parent {
        display: inline-block;
    }

    .fa.fa-trophy {
        color: gold;
    }

    .fa.fax-pile-of-poo {
        -webkit-animation-name: rotateThis;
        -webkit-animation-duration: 5s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;

        color: saddlebrown;
    }

    .glyphicon.glyphicon-fire {
        background: -webkit-gradient(linear, left top, left bottom, from(#ffb75e), to(red));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: initial;
    }

    .fa.fa-bullseye {
        color: red;
    }

    .fa.fa-snowflake-o {
        background: -webkit-gradient(linear, left top, left bottom, from(cornflowerblue), to(lightblue));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;


        -webkit-animation-name: rotateThis;
        -webkit-animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
    }

    @-webkit-keyframes "rotateThis" {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }
</style>
