<template>
    <div class="custom-actions">
        <button class="btn btn-sm btn-info" @click="viewUser('view-item', rowData, rowIndex)"><i class="glyphicon glyphicon-zoom-in"></i></button>
    </div>
</template>

<script>
    export default {
        props: {
            rowData: {
                type: Object,
                required: true
            },
            rowIndex: {
                type: Number
            }
        },
        methods: {
            viewUser (action, data, index) {
                console.log('custom-actions: ' + action, data, index);
                this.$events.fire('show-profile', data)

            },
            doFilter () {
            },
        },
    }
</script>

<style>
    .custom-actions button.ui.button {
        padding: 8px 8px;
    }
    .custom-actions button.ui.button > i.icon {
        margin: auto !important;
    }
</style>