<template>
    <div class="filter-bar">
        <div class="row">
            <form class="form-inline">
                <div class="col-sm-8 col-xs-12">

                    <div class="form-group">
                        <label>Søg på:</label>
                        <input type="text" v-model="filterText" class="form-control" @keyup.enter="doFilter"
                               placeholder="navn">
                        <button class="btn btn-primary" @click.prevent="doFilter">Søg</button>
                        <button class="btn" @click.prevent="resetFilter">Nulstil</button>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="form-group period-container">
                        <v-select
                                v-model="select.value"
                                :options="select.options"
                                name="period"
                                close-on-select
                        >
                        </v-select>
                    </div>
                </div>

            </form>
        </div>
    </div>
</template>

<script>
    var vSelect = require('vue-strap/src/select');

    export default {
        components: {
            vSelect: vSelect,
        },
        data() {
            return {
                filterText: '',
                select: {
                    options: [
                        {value: 'current', label: 'Nuværende'},
                        {value: 'last', label: 'Forrige'},
                        {value: 'allTime', label: 'All-time'},
                    ],
                    value: "current",
                }
            }
        },
        methods: {
            doFilter() {
                this.$events.fire('filter-set', this.filterText)
            },
            setPeriod() {
                this.$events.fire('period-set', this.select.value);
            },
            resetFilter() {
                this.filterText = '';
                this.$events.fire('filter-reset');
            },
            apply() {
                /*this.doFilter();*/
                this.setPeriod();
            },
        },
        events: {
            'selected'(sel) {
                console.log('here');
                this.$events.fire('period-set', sel);
            }
        },
        watch: {
            select: {
                handler(value) {
                    this.$events.fire('period-set', this.select.value);
                },
                deep: true,

            },
        }
    }
</script>
<style>
    .filter-bar {
        padding: 10px 0;
    }

    div.period-container,
    div.period-container * {
        width: 100% !important;
    }

</style>