<template>
    <div class="alert alert-success alert-flash" role="alert" v-show="show">
        <strong>Succes!</strong> {{body}}
    </div>
</template>

<script>
    export default {
        props: ['message'],

        data(){
            return {
                body: '',
                show: false,
            }
        },

        created(){
            if (this.message) {
                this.flash(this.message);
            }

            //Listen for flash event, triggered from global function in bootstrap.js
            window.events.$on('flash', message => this.flash(message));
        },

        methods: {

            flash(message){

                this.body = message;
                this.show = true;

                this.hide();
            },

            hide(){
                setTimeout(() => {
                    this.show = false;

                }, 3000);
            }
        }
    }
</script>

<style>
    .alert-flash {
        position: fixed;
        bottom: 25px;
        right: 25px;
    }
</style>
