<template>
    <ul class="list-group">
        <li class="list-group-item" v-for="(game, index) in games">
            <div class="list-group-item-text">
                <div class="row">
                    <div class="col-sm-2 col-md-1 hidden-xs">
                        <div class="game-img-container baseline">
                            <img :src="game.img_path" alt="">
                        </div>
                    </div>
                    <div class="col-md-3 hidden-sm hidden-xs">
                        <div class="baseline">
                            {{game.period_formatted}}
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-10 col-md-8">
                        <div class="baseline">
                            <div class="row">
                                <div class="col-xs-8">
                                    {{game.summary}}
                                </div>
                                <div class="col-xs-4">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-danger btn-xs mr-1 pull-right btn-delete"
                                                    @click="destroy(game, index)">
                                                x
                                            </button>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="visible-xs pull-right">
                                                <img :src="game.img_path" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</template>

<script>
    export default {
        data() {
            return {
                games: null,
            }
        },
        created() {
            this.load();
        },
        methods: {
            load() {
                axios.get('/games/all')
                    .then(response => {
                        this.games = response.data;
                    });
            },
            destroy(game, index) {
                axios.delete('/games/' + game.id)
                    .then(response => {
                        console.log(response.data);
                        console.log(response.data.success);
                        flash(response.data.success);
                        this.games.splice(index, 1);

                        this.$events.fire('filter-reset');

                        this.load();
                    });

                //make announcement of deletion
                //communicate to parent so catch the emit with an event
                this.$emit('deleted', game.id);

            },
        },
        events: {
            'latest-games-update'(data) {

                /*Move to front*/
                this.games.unshift(data.game);


                if (this.games.length > 10) {
                    this.games.pop();
                }
            },
        }
    }
</script>
<style>
    .btn-delete {
        margin-bottom: 10px;
    }
</style>