<template>
    <div class="leaderboard-container">
        <div :class="loader">LOADING</div>
        <filter-bar></filter-bar>
        <vuetable ref="vuetable"
                  api-url="/statistics/all"
                  :fields="fields"
                  pagination-path=""
                  :css="css.table"
                  :sort-order="sortOrder"
                  :multi-sort="true"
                  detail-row-component="id"
                  :append-params="moreParams"
                  @vuetable:cell-clicked="onCellClicked"
                  @vuetable:pagination-data="onPaginationData"
                  @vuetable:load-success="sendData"
                  @vuetable:loading="onLoading"
                  @vuetable:loaded="onLoaded"
                  :class="loading"
        ></vuetable>
        <div class="vuetable-pagination">
            <vuetable-pagination-info ref="paginationInfo"
                                      info-class="pagination-info"
            ></vuetable-pagination-info>
            <vuetable-pagination ref="pagination"
                                 :css="css.pagination"
                                 @vuetable-pagination:change-page="onChangePage"
            ></vuetable-pagination>
        </div>
    </div>
</template>

<script>
    import accounting from 'accounting'
    import moment from 'moment'
    import Vuetable from 'vuetable-2/src/components/Vuetable'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
    import Vue from 'vue'
    import VueEvents from 'vue-events'
    import CustomActions from './CustomActions'
    import DetailRow from './DetailRow'
    import FilterBar from './FilterBar'
    import NameColumn from './Columns/NameColumn'
    import FormColumn from './Columns/FormColumn'

    Vue.use(VueEvents);
    Vue.component('custom-actions', CustomActions);
    Vue.component('my-detail-row', DetailRow);
    Vue.component('filter-bar', FilterBar);
    Vue.component('name-column', NameColumn);
    Vue.component('form-column', FormColumn);

    export default {
        components: {
            Vuetable,
            VuetablePagination,
            VuetablePaginationInfo,
        },
        data() {
            return {
                fields: [
                    {
                        name: 'leaguePosition',
                        title: '#',
                        titleClass: 'text-right',
                        dataClass: 'text-right'
                    },
                    {
                        name: '__component:name-column',
                        sortField: 'name',
                        title: 'Navn',
                    },
                    {
                        name: 'totalGames',
                        sortField: 'totalGames',
                        title: 'K',
                    },
                    {
                        name: 'wins',
                        sortField: 'wins',
                        title: 'V',
                    },
                    {
                        name: 'draws',
                        sortField: 'draws',
                        title: 'U',
                    },
                    {
                        name: 'losses',
                        sortField: 'losses',
                        title: 'T',
                    },
                    {
                        name: 'goalsFor',
                        sortField: 'goalsFor',
                        title: '+',
                    },
                    {
                        name: 'goalsAgainst',
                        sortField: 'goalsAgainst',
                        title: '-',
                    },

                    {
                        name: 'points',
                        sortField: 'points',
                        title: 'P',
                    },
                    {
                        name: 'winPercentage',
                        sortField: 'winPercentage',
                        title: '%',
                    },
                    {
                        name: 'pointsPerGame',
                        sortField: 'pointsPerGame',
                        title: 'PPK',
                    },
                    {
                        name: '__component:form-column',
                        title: 'Form',
                        titleClass: 'text-center',
                        dataClass: 'column-fixed-width'
                    },
                    {
                        name: '__component:custom-actions',
                        title: 'Handlinger',
                        titleClass: 'text-center',
                        dataClass: 'text-center'
                    }
                ],
                css: {
                    table: {
                        tableClass: 'table table-bordered table-striped table-hover',
                        ascendingIcon: 'glyphicon glyphicon-chevron-up',
                        descendingIcon: 'glyphicon glyphicon-chevron-down'
                    },
                    pagination: {
                        wrapperClass: 'pagination',
                        activeClass: 'active',
                        disabledClass: 'disabled',
                        pageClass: 'page',
                        linkClass: 'link',
                        icons: {
                            first: '',
                            prev: '',
                            next: '',
                            last: '',
                        },
                    },
                    icons: {
                        first: 'glyphicon glyphicon-step-backward',
                        prev: 'glyphicon glyphicon-chevron-left',
                        next: 'glyphicon glyphicon-chevron-right',
                        last: 'glyphicon glyphicon-step-forward',
                    },
                },
                sortOrder: [
                    {field: 'pointsPerGame', sortField: 'pointsPerGame', direction: 'desc'},
                    {field: 'winPercentage', sortField: 'winPercentage', direction: 'desc'},
                    {field: 'name', sortField: 'name', direction: 'asc'},
                ],
                moreParams: {},
                goalsPerGame: {
                    id: 0,
                    gpg: 0,
                },
                loader: 'loader',
                loading: 'loading vuetable',
            }
        },
        methods: {
            onPaginationData(paginationData) {
                this.$refs.pagination.setPaginationData(paginationData)
                this.$refs.paginationInfo.setPaginationData(paginationData)
            },
            onChangePage(page) {
                this.$refs.vuetable.changePage(page)
            },
            onCellClicked(data, field, event) {
                console.log('cellClicked: ', field.name);
                console.log('data: ', data.id);
                this.$refs.vuetable.toggleDetailRow(data.id);
            },
            sendData(data, field, event) {
                if (data) {
                    this.$events.fire('sending-data', data.data.data);
                }
            },
            setTrophy(key, value) {
                console.log(key);
                console.log(value);
                return value;
            },
            setGoalsPerGame() {

            },
            onLoading() {
                this.loader = 'loading loader';
                this.loading = 'loading vuetable';
                console.log('loading... show your spinner here')
            },
            onLoaded() {
                this.loader = 'loader';
                this.loading = '';
                console.log('loaded! .. hide your spinner here')
            }
        },
        events: {
            'filter-set'(filterText) {
                this.moreParams = {
                    filter: filterText
                }
                Vue.nextTick(() => this.$refs.vuetable.refresh())
            },
            'period-set'(period){
                this.moreParams = {
                    period: period
                }
                Vue.nextTick(() => this.$refs.vuetable.refresh())
            },
            'filter-reset'() {
                console.log('reset');
                this.moreParams = {}
                Vue.nextTick(() => this.$refs.vuetable.refresh())
            },
        }
    }
</script>
<style>

    .leaderboard-container td {
        vertical-align: middle !important;
        position: relative;
        opacity: 1;
    }

    .pagination {
        margin: 0;
        float: right;
    }

    .pagination a.page {
        border: 1px solid lightgray;
        border-radius: 3px;
        padding: 5px 10px;
        margin-right: 2px;
    }

    .pagination a.page.active {
        color: white;
        background-color: #337ab7;
        border: 1px solid lightgray;
        border-radius: 3px;
        padding: 5px 10px;
        margin-right: 2px;
    }

    .pagination a.btn-nav {
        border: 1px solid lightgray;
        border-radius: 3px;
        padding: 5px 7px;
        margin-right: 2px;
    }

    .pagination a.btn-nav.disabled {
        color: lightgray;
        border: 1px solid lightgray;
        border-radius: 3px;
        padding: 5px 7px;
        margin-right: 2px;
        cursor: not-allowed;
    }

    .pagination-info {
        float: left;
    }

    .column-fixed-width {
        width: 157px;
    }

    .loader {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s linear;
        background: url(/images/fifa18.png) no-repeat bottom center;
        width: 200px;
        height: 50px;
        font-size: 1em;
        text-align: center;
        margin-left: -100px;
        letter-spacing: 4px;
        color: #3E97F6;
        position: absolute;
        top: 185px;
        left: 50%;
        background-size: 50%;
    }
    .loading.loader {
        visibility: visible;
        opacity: 1;
        z-index: 100;
    }
    .loading.vuetable{
        opacity:0.3;
        filter: alpha(opacity=30); /* IE8 and earlier */
    }

</style>