<template>
    <div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="home" class="col-sm-5 control-label">Hjemmehold</label>
                    <div class="input-group col-sm-7">
                        <select class="form-control" v-model="selectedHome" name="home" id="home">
                            <option v-for="user in users" v-bind:value="user.id">{{user.game_name}}</option>
                        </select>
                        <div class="input-group-btn">
                            <button class="btn btn-secondary" type="button" @click="addPlayerHome">
                                Tilføj
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="home" class="col-sm-5 control-label pull-right text-right">Udehold</label>
                    <div class="input-group col-sm-7">
                        <div class="input-group-btn">
                            <button class="btn btn-secondary" type="button" @click="addPlayerAway">
                                Tilføj
                            </button>
                        </div>
                        <select class="form-control" v-model="selectedAway" name="away" id="away">
                            <option v-for="user in users" v-bind:value="user.id">{{user.game_name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-xs-3">
                <ul class="list-group">
                    <li class="list-group-item" v-for="user in home">
                        {{user.game_name}}
                        <button class="btn btn-danger btn-xs mr-1 pull-right" @click="removeFromTeam(home, user)">x
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-xs-2">
                <input class="form-control" type="number" v-model="homeScore" name="homeScore">
            </div>
            <div class="col-xs-2 text-center">
                -
            </div>
            <div class="col-xs-2">
                <input class="form-control" type="number" v-model="awayScore" name="awayScore">
            </div>
            <div class="col-xs-3">
                <ul class="list-group">
                    <li class="list-group-item list-group-item" v-for="user in away">
                        {{user.game_name}}
                        <button class="btn btn-danger btn-xs mr-1 pull-right" @click="removeFromTeam(away, user)">x
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <button class="btn btn-default"
                            type="submit"
                            @click="createGame">Gem
                    </button>
                    <button class="btn btn-default"
                            type="submit"
                            @click="reset">Nulstil
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import collection from '../mixins/Collection';

    export default {

        mixins: [collection],

        data() {
            return {
                users: [],
                home: [],
                away: [],
                selectedHome: '',
                selectedAway: '',
                homeScore: 0,
                awayScore: 0,
            }
        },

        created() {
            this.load();
        },

        methods: {

            getIndex(collection, element) {
                return collection.indexOf(element);
            },

            remove(collection, element) {

                console.log(collection);

                collection.splice(
                    this.getIndex(collection, element), 1
                );
            },

            removeFromTeam(collection, element) {
                this.remove(collection, element);
                this.users[element.id] = element;
                this.setSelected();
            },

            load() {
                axios.get('/users/all')
                    .then(response => {
                            this.users = response.data;
                            this.setSelected();
                        }
                    );
            },
            reset() {
                /*Reset*/
                Object.assign(this.$data, this.$options.data.apply(this));
                this.load();
            },
            createGame() {


                /*TODO OOP*/
                let game = {
                    home: {
                        score: this.homeScore,
                        users: this.home,
                    },
                    away: {
                        score: this.awayScore,
                        users: this.away,
                    },
                    home_club_id: null,
                    away_club_id: null,

                    /*TODO add to form*/
                    leaderboard_game_id: 2,
                };

                if (this.home.length < 1) return flash('Venligst vælg hjemmehold');
                if (this.away.length < 1) return flash('Venligst vælg udehold');

                axios.post('/statistics/store', {game: game})
                    .then(response => {

                        flash(response.data.success);

                        this.homeScore = 0;
                        this.awayScore = 0;

                        this.$events.fire('filter-reset');
                        this.$events.fire('latest-games-update', response.data);
                    });
            },
            moveUser(user, collection, index) {
                collection.push(user);
                console.log(this.users);
                delete this.users[index];
                this.setSelected();
            },
            addPlayerHome() {

                if (this.isEmpty(this.users)) return flash('Alle spillere er tilføjet');

                let user = this.getSelectedHomeUser();

                if (this.userHasTeam(user)) return flash('Spilleren er allerede tilføjet et hold');

                this.moveUser(user, this.home, this.selectedHome);

                flash('Spiller tilføjet hjemmehold.');
            },
            isEmpty(object) {
                return Object.keys(object).length === 0 && object.constructor === Object;
            },
            userHasTeam(user) {
                return this.away.includes(user) || this.home.includes(user);
            }, addPlayerAway() {

                if (this.isEmpty(this.users)) return flash('Alle spillere er tilføjet');

                let user = this.getSelectedAwayUser();

                if (this.userHasTeam(user)) return flash('Spilleren er allerede tilføjet et hold');

                this.moveUser(user, this.away, this.selectedAway);

                flash('Spiller tilføjet udehold.');
            },

            getSelectedHomeUser() {
                return this.users[this.selectedHome];
            },
            getSelectedAwayUser() {
                return this.users[this.selectedAway];
            },


            setSelected() {

                for (let user in this.users) {
                    if (this.users.hasOwnProperty(user)) {
                        this.selectedHome = user;
                        this.selectedAway = user;
                        return;
                    }
                }
            }
        },
        events: {
            'filter-reset'() {
                console.log('reset from new game');
            },
            'sending-data'(data) {
                if (data[0]) {
                    console.log(data[0].games);
                }
            }
        }
    }

</script>