<template>
    <div>
        <div class="row" v-show="!simple">
            <div class="col-xs-12 col-sm-12">
                <div class="form-group">
                    <label for="pot" class="col-sm-6 control-label">
                        <div v-if="pot.length">
                            Pulje
                        </div>
                    </label>
                    <div class="input-group col-sm-6">
                        <select class="form-control" v-model="selectedPot" name="pot" id="pot">
                            <option v-for="user in users" v-bind:value="user.id">{{user.game_name}}</option>
                        </select>
                        <div class="input-group-btn">
                            <button class="btn btn-secondary" type="button" @click="addPlayerPot">
                                Tilføj
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" v-if="pot.length">
                <div class="row">
                    <div class="col-xs-3">
                        <ul class="list-group">
                            <li class="list-group-item" v-for="user in pot">
                                {{user.game_name}}
                                <button class="btn btn-danger btn-xs mr-1 pull-right" @click="removeFromPot(user)">x
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xs-3">
                        <div class="form-group">
                            <div class="checkbox">
                                <label for="includeLeague">
                                    <input id="includeLeague" type="checkbox" v-model="includeLeague">
                                    Shuffle liga
                                </label>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <div class="checkbox">
                                <label for="includeClubs">Shuffle klubber</label>
                                <input id="includeClubs" type="checkbox" v-model="includeClubs">
                            </div>
                        </div>-->
                        <div class="form-group" v-if="!includeLeague">
                            <select class="form-control" v-model="selectedLeague" name="selectedLeague"
                                    id="selectedLeague">
                                <option v-for="league in clubLeagues" v-bind:value="league">
                                    {{league.name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group">
                            <button class="btn btn-default"
                                    type="submit"
                                    @click="createTeams"
                                    :disabled="isShuffling"
                            >Shuffle
                            </button>
                            <button class="btn btn-default"
                                    type="submit"
                                    @click="newLeagueClub"
                                    :disabled="isShuffling"
                                    v-if="(includeLeague || includeClubs) && home.length"
                            >Skift liga/hold
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-if="selectedLeague">
            <div class="col-xs-3">
                <ul class="list-group">
                    <li class="list-group-item list-group-item">
                        <div>{{selectedLeague.name}}</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3" v-if="homeClub">
                <ul class="list-group">
                    <li class="list-group-item list-group-item">
                        <span>{{homeClub.name}}</span>
                        <span class="club-stat text-info pull-right hidden-sm hidden-xs"
                              v-if="homeClub.overall">OVR {{homeClub.overall}}</span>

                        <!--<div class="club-stats-parent pull-right">
                            <span class="club-stat text-primary">ATT {{homeClub.att}}</span>
                            <span class="club-stat text-warning">MID {{homeClub.mid}}</span>
                            <span class="club-stat text-danger">DEF {{homeClub.def}}</span>
                        </div>-->
                    </li>
                </ul>
            </div>
            <div class="col-xs-3 col-xs-offset-6" v-if="awayClub">
                <ul class="list-group">
                    <li class="list-group-item list-group-item">
                        <span>{{awayClub.name}}</span>
                        <span class="club-stat text-info pull-right hidden-sm hidden-xs"
                              v-if="awayClub.overall">OVR {{awayClub.overall}}</span>
                        <!--<span class="club-stats-parent">
                            <span class="club-stat">{{awayClub.att}}</span>
                            <span class="club-stat">{{awayClub.mid}}</span>
                            <span class="club-stat">{{awayClub.def}}</span>
                            <span class="club-stat">{{awayClub.ovr}}</span>
                        </span>-->
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" v-if="home.length">
            <div class="col-xs-3">
                <ul class="list-group">
                    <li class="list-group-item" v-for="user in home">
                        {{user.game_name}}
                    </li>
                </ul>
            </div>
            <div class="col-xs-2">
                <input class="form-control" type="number" v-model="homeScore" name="homeScore">
                <button class="btn btn-default btn-block"
                        type="submit"
                        @click="newClub(homeClub)"
                        :disabled="isShuffling || maxHome"
                >Skift
                </button>

            </div>
            <div class="col-xs-2 text-center">
                -
            </div>
            <div class="col-xs-2">
                <input class="form-control" type="number" v-model="awayScore" name="awayScore">
                <button class="btn btn-default btn-block"
                        type="submit"
                        @click="newClub(awayClub)"
                        :disabled="isShuffling || maxAway"
                >Skift
                </button>
            </div>
            <div class="col-xs-3">
                <ul class="list-group">
                    <li class="list-group-item list-group-item" v-for="user in away">
                        {{user.game_name}}
                    </li>
                </ul>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <button class="btn btn-default"
                            type="submit"
                            @click="createGame">Gem
                    </button>
                    <button class="btn btn-default"
                            type="submit"
                            @click="reset">Nulstil
                    </button>
                </div>
            </div>
        </div>

        <!-- simple temp shuffler -->
        <div class="row">

          <div class="col-xs-12 text-right simple-switcher">
            <input class="simple-shuffle-input float-right pull-right" type="checkbox" v-model="simple" value="">Simpel shuffler( 4+ spillere )</input>
          </div>

          <div class="" v-show="simple">
            <div class="form-group">
                <label for="pot" class="col-sm-6 control-label">
                    <div v-if="pot.length">
                        Pulje
                    </div>
                </label>

                <div class="input-group col-sm-6">
                    <select class="form-control" v-model="selectedSimplePot" name="SimplePot" id="SimplePot">
                        <option v-for="user in simpleUsers" v-bind:value="user.id">{{user.game_name}}</option>
                    </select>
                    <div class="input-group-btn">
                        <button class="btn btn-secondary" type="button" @click="addPlayerPotSimple">
                            Tilføj
                        </button>
                    </div>
                </div>

                <div class="col-xs-3">
                    <ul class="list-group">
                        <li class="list-group-item" v-for="user in simplePot">
                            {{user.game_name}}
                            <button class="btn btn-danger btn-xs mr-1 pull-right" @click="removeFromSimplePot(user)">x
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-12" v-if="simplePot.length">
                    <div class="form-group">
                        <button class="btn btn-default"
                                type="submit"
                                @click="createSimpleTeams"
                                :disabled="isShuffling"
                        >Shuffle
                        </button>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4 mt-2" v-if="simpleTeam1">
                      <div class="px-2">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item" v-for="user in simpleTeam1">
                                {{user.game_name}}
                            </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-4 mt-2" v-if="simpleTeam2">
                      <div class="px-2">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item" v-for="user in simpleTeam2">
                                {{user.game_name}}
                            </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-4 mt-2" v-if="simpleTeam3">
                      <div class="px-2">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item" v-for="user in simpleTeam3">
                                {{user.game_name}}
                            </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-4 col-md-offset-4 mt-2" v-if="simpleTeam4">
                      <div class="px-2">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item" v-for="user in simpleTeam4">
                                {{user.game_name}}
                            </li>
                        </ul>
                      </div>
                    </div>

                </div>

            </div>
          </div>

        </div>


    </div>
</template>

<script>

    import collection from '../mixins/Collection';

    export default {

        mixins: [collection],

        data() {
            return {
                users: [],
                pot: [],
                home: [],
                away: [],
                selectedPot: '',
                homeScore: 0,
                awayScore: 0,
                isShuffling: false,
                clubLeagues: [],
                selectedLeague: null,
                clubs: [],
                homeClub: null,
                awayClub: null,
                maxHome: false,
                maxAway: false,

                includeLeague: true,
                includeClubs: true,


                simple: false,
                simpleUsers: [],
                simplePot: [],
                selectedSimplePot: '',
                simpleTeam1: null,
                simpleTeam2: null,
                simpleTeam3: null,
                simpleTeam4: null,
            }
        },

        mounted() {
            this.load();
            this.loadSimple();
        },

        methods: {

            getIndex(collection, element) {
                return collection.indexOf(element);
            },

            remove(collection, element) {

                console.log(collection);

                collection.splice(
                    this.getIndex(collection, element), 1
                );
            },

            removeFromPot(element) {
                this.remove(this.pot, element);
                this.users[element.id] = element;
                this.setSelected();
            },
            removeFromSimplePot(element) {
                this.remove(this.simplePot, element);
                this.simpleUsers[element.id] = element;
                this.setSimpleSelected();
            },

            load() {

                let context = this;

                axios.get('/users/all')
                    .then(response => {
                        context.users = response.data;
                        context.setSelected();

                    });

                axios.get('/clubs/all')
                    .then(function (response) {
                        context.clubLeagues = response.data;
                    });
            },
            loadSimple() {

                let context = this;

                axios.get('/users/all')
                .then(response => {
                        context.simpleUsers = response.data;
                        context.setSimpleSelected();
                    });
            },
            shuffler: function (context, collection) {

                let deferred = $.Deferred();

                let copied = collection.slice();

                let shuffledList, mid;

                context.isShuffling = true;

                let handle = window.setInterval(function () {
                    shuffledList = context.shuffle(copied);

                    mid = Math.ceil(shuffledList.length / 2);

                    context.home = shuffledList.slice(0, mid);
                    context.away = shuffledList.slice(mid);

                    console.log('shuffling teams');

                    deferred.notify();

                }, 120);

                window.setTimeout(function () {
                    context.isShuffling = false;

                    clearInterval(handle);

                    console.log('teams done');

                    deferred.resolve();
                }, 5000);

                return deferred.promise();
            },
            simpleShuffler: function (context, collection) {

                let deferred = $.Deferred();

                let copied = collection.slice();

                let shuffledList, mid;

                context.isShuffling = true;

                let handle = window.setInterval(function () {
                    shuffledList = context.shuffle(copied);
                    let players = shuffledList.length;

                      context.simpleTeam1 = shuffledList.slice(0, 2);
                      context.simpleTeam2 = shuffledList.slice(2,4);
                      context.simpleTeam3 = shuffledList.slice(4,6);
                      context.simpleTeam4 = shuffledList.slice(6,8);

                    console.log('shuffling teams');

                    deferred.notify();

                }, 120);

                window.setTimeout(function () {
                    context.isShuffling = false;

                    clearInterval(handle);

                    console.log('teams done');
                    console.log(context.simpleTeam1,context.simpleTeam2,context.simpleTeam3);

                    deferred.resolve();
                }, 5000);

                return deferred.promise();
            },
            shuffleLeagues: function (context) {

                let deferred = $.Deferred();

                let copied = context.clubLeagues.slice();

                let shuffledList, mid, index = 0;

                let handle = window.setInterval(function () {

                    shuffledList = context.shuffle(copied);

                    mid = Math.ceil(shuffledList.length / 2);

                    context.selectedLeague = shuffledList[0];

                    deferred.notify();

                    console.log('shuffling leagues');

                }, 50);

                window.setTimeout(function () {
                    context.isShuffling = false;

                    window.clearInterval(handle);

                    console.log('leagues done');

                    deferred.resolve();
                }, 2000);

                return deferred.promise();
            },
            shuffleClubs: function (context, notClub = null) {

                let deferred = $.Deferred();

                context.clubs = context.selectedLeague.clubs;

                let copied = context.clubs.slice();

                let shuffledList, mid, isHomeClub;

                context.isShuffling = true;

                if (notClub) {
                    shuffledList = context.shuffle(copied);

                    shuffledList.splice(shuffledList.indexOf(context.awayClub), 1);
                    shuffledList.splice(shuffledList.indexOf(context.homeClub), 1);

                    copied = shuffledList;

                    if (notClub === context.homeClub) {
                        context.maxHome = true;
                        isHomeClub = true;
                    }
                    else {
                        context.maxAway = true;
                        isHomeClub = false;
                    }
                }

                let handle = window.setInterval(function () {

                    console.log('shuffling clubs');

                    shuffledList = context.shuffle(copied);

                    mid = Math.ceil(shuffledList.length / 2);

                    if (notClub) {
                        if (isHomeClub) {
                            context.homeClub = shuffledList[0];

                        } else {
                            context.awayClub = shuffledList[0];
                        }
                    }
                    else {
                        context.homeClub = shuffledList[0];
                        context.awayClub = shuffledList[1];
                    }

                    deferred.notify();
                }, 120);

                window.setTimeout(function () {
                    context.isShuffling = false;

                    window.clearInterval(handle);

                    deferred.resolve();

                    console.log('clubs done');

                }, 2000);

                return deferred.promise();
            },
            shuffleTeams: function (context) {

                return this.shuffler(context, context.pot, context.home, context.away);
            },
            shuffleSimpleTeams: function (context) {

                return this.simpleShuffler(context, context.simplePot);
            },
            resetState: function () {

                if (this.includeLeague) {
                    this.selectedLeague = null;
                }

                /*Reset*/
                if (this.includeClubs) {
                    this.homeClub = null;
                    this.awayClub = null;
                }

                /*Reset*/
                this.home = [];
                this.away = [];

                this.maxHome = false;
                this.maxAway = false;
            },
            newClub(club) {
                this.shuffleClubs(this, club);
            },
            newLeagueClub() {
                if (this.includeLeague) {
                    this.selectedLeague = null;
                }

                /*Reset*/
                this.homeClub = null;
                this.awayClub = null;

                this.maxHome = false;
                this.maxAway = false;

                let context = this;

                if (context.includeLeague) {
                    context.shuffleLeagues(context)
                        .then(function () {
                            context.shuffleClubs(context);
                        });
                }
                else {
                    context.shuffleClubs(context);
                }
            },
            runShuffle: function (context) {

                if (context.includeLeague && context.includeClubs) {
                    context.shuffleLeagues(context)
                        .then(function () {
                            context.shuffleClubs(context)
                                .then(function () {
                                    context.shuffleTeams(context)
                                });
                        });
                }
                else if (context.includeLeague) {
                    context.shuffleLeagues(context)
                        .then(function () {
                            context.shuffleTeams(context)
                        });
                }
                else if (context.includeClubs) {
                    context.shuffleClubs(context)
                        .then(function () {
                            context.shuffleTeams(context)
                        });
                }
                else {
                    context.shuffleTeams(context)
                }


            }, createTeams() {

                if (this.pot.length < 2) return flash('Venligst tilføj min. 2 til puljen');

                this.resetState();

                let context = this;

                context.runShuffle(context);
            },
            createSimpleTeams() {

                if (this.simplePot.length < 2){
                  return flash('Venligst tilføj min. 2 til puljen');
                }else if (this.simplePot.length < 5) {
                  this.pot = this.simplePot;
                  this.simplePot = [];
                  this.simple = false;
                  this.loadSimple();

                  return flash('Brug den normale shuffler');

                } else {
                  this.resetState();

                  let context = this;

                  context.shuffleSimpleTeams(context);
                }
            },

            createGame() {

                /*TODO OOP*/
                let game = {
                    home: {
                        score: this.homeScore,
                        users: this.home,
                    },
                    away: {
                        score: this.awayScore,
                        users: this.away,
                    },
                    home_club_id: this.homeClub.id,
                    away_club_id: this.awayClub.id,

                    /*TODO add to form*/
                    leaderboard_game_id: 2,
                };

                if (this.home.length < 1 || this.away.length < 1) return flash('Venligst tilføj til puljen');

                axios.post('/statistics/store', {game: game})
                    .then(response => {

                        flash(response.data.success);

                        this.homeScore = 0;
                        this.awayScore = 0;

                        this.$events.fire('filter-reset');
                        this.$events.fire('latest-games-update', response.data);
                    });
            }
            ,
            reset() {
                /*Reset*/
                Object.assign(this.$data, this.$options.data.apply(this));
                this.load();
            }
            ,
            moveUser(user, collection, index) {
                collection.push(user);
                console.log(this.users);
                delete this.users[index];
                this.setSelected();
            },
            moveSimpleUser(user, collection, index) {
                collection.push(user);
                console.log(this.simpleUsers);
                delete this.simpleUsers[index];
                this.setSimpleSelected();
            }
            ,
            addPlayerPot() {

                if (this.pot.length > 3) return flash('Der må maks. være 4 i puljen');

                if (this.isEmpty(this.users)) return flash('Alle spillere er tilføjet');

                let user = this.getSelectedPotUser();

                console.log(user);

                if (this.userHasTeam(user)) return flash('Spilleren er allerede tilføjet et hold');

                this.moveUser(user, this.pot, this.selectedPot);

                flash('Spiller tilføjet puljen.');
            },
            addPlayerPotSimple() {

                //if (this.pot.length > 3) return flash('Der må maks. være 4 i puljen');

                if (this.isEmpty(this.simpleUsers)) return flash('Alle spillere er tilføjet');

                let user = this.getSimpleSelectedPotUser();

                console.log(user);

                if (this.userHasTeam(user)) return flash('Spilleren er allerede tilføjet et hold');

                this.moveSimpleUser(user, this.simplePot, this.selectedSimplePot);

                flash('Spiller tilføjet puljen.');
            }
            ,
            isEmpty(object) {
                return Object.keys(object).length === 0 && object.constructor === Object;
            }
            ,
            userHasTeam(user) {
                return this.away.includes(user) || this.home.includes(user);
            }
            ,

            getSelectedPotUser() {
                return this.users[this.selectedPot];
            },
            getSimpleSelectedPotUser() {
                return this.simpleUsers[this.selectedSimplePot];
            }
            ,

            setSelected() {

                for (let user in this.users) {
                    if (this.users.hasOwnProperty(user)) {
                        this.selectedPot = user;
                        return;
                    }
                }
            },
            setSimpleSelected() {

                for (let user in this.simpleUsers) {
                    if (this.simpleUsers.hasOwnProperty(user)) {
                        this.selectedSimplePot = user;
                        return;
                    }
                }
            }
        },
        events: {
            'filter-reset'() {
                console.log('reset from new game');
            }
            ,
            'sending-data'(data) {
                if (data[0]) {
                    console.log(data[0].games);
                }
            }
        }
    }

</script>

<style>
.px-2{
  padding: 0 2em;
}
.simple-switcher{
  margin-bottom: 1em;
}
</style>
