<template>
    <ul class="list-group" v-if="statsAllTime">
        <li class="list-group-item">
            Navn: {{statsAllTime.name}}
        </li>
        <li class="list-group-item" v-for="(field, text) in statsAllTime.fields">
            {{ text }}: {{field}}
        </li>
    </ul>
</template>

<script>
    export default {

        props: {
            stats: {type: Object}
        },

        data() {
            return {
                statsAllTime: null,
            }
        },
        created() {
            this.load();
        },
        watch: {
            'stats': function (val, oldVal) {
                console.log(oldVal + 'has been changed to ' + val + ' from outside.');
                this.load();
            }
        },
        methods: {
            load() {
                axios.get('/statistics/' + this.stats.user.id + '/all-time/')
                    .then(response => {
                        console.log(response);
                        this.statsAllTime = response.data;
                    });
            },
        }
    }
</script>