<template>
    <div class="form-column">

        <div class="popover-parent md">
            <span v-for="(game,key) in latestGames">
                <popover effect="fade" trigger="hover" placement="top" title="Resultat" :content="game.score_short">
                    <span>
                        <span :class="form[key]">{{form[key]}}</span>
                    </span>
                </popover>
            </span>
        </div>
    </div>
</template>

<script>
    var popover = require('vue-strap/src/popover');

    export default {
        components: {
            popover: popover,
        },
        props: {
            rowData: {
                type: Object,
                required: true
            },
            rowIndex: {
                type: Number
            },
        },
        data() {
            return {
                form: this.rowData.metaData.form,
                latestGames: this.rowData.latestGames,
                resultsString: ''
            };
        },
        mounted() {
            this.setResultsString();
        },
        watch: {
            rowData() {
                console.log('watching');
                this.setForm();
                this.setResultsString();
                this.latestGames = this.rowData.latestGames;
            }
        },
        methods: {
            setForm() {
                this.form = this.rowData.metaData.form;
            },
            setResultsString() {

                this.resultsString = '';

                let latestGames = this.rowData.latestGames;
                let length = latestGames.length;

                if (length) {
                    for (let i = 0; i < length; i++) {
                        this.resultsString += latestGames[i].score_short + '<br>';
                    }
                }
            }
        }
    }
</script>

<style>
    .form-column {
        width: 170px;
    }

    .popover-parent div {
        text-align: center;
    }

    .popover-parent.md .popover.top .popover-content span {
        text-align: center;
    }

    .W {
        background-color: #2ab27b;
        color: #fff;
    }

    .D {
        background-color: #000000;
        color: #fff;
    }

    .L {
        background-color: #bf5329;
        color: #fff;
    }

    .W, .D, .L {
        margin: 3px;
        color: #fff;
        display: inline-block;
        width: 25px;
        height: 26px;
        text-align: center;
        align-items: center;
        padding: 2px !important;
        border-radius: 10px;
    }
</style>