<template>
    <div class="name-column">
        <span>{{rowData.name}}</span>
        <awards :data="rowData"></awards>
    </div>
</template>

<script>

    import Awards from '../Awards'

    Vue.component('awards', Awards);

    export default {
        props: {
            rowData: {
                type: Object,
                required: true
            },
            rowIndex: {
                type: Number
            }
        },
        methods: {
            setTrophy() {
            },
        }
    }
</script>

<style>
</style>