/*.popover-parent {*/
    /*position: relative;*/
/*}*/

/*.popover-parent.lg .popover.top {*/
    /*width: 200px;*/
/*}*/

/*.popover-parent.md .popover.top {*/
    /*width: 175px;*/
    /*text-align: center;*/
/*}*/

/*.btn-secondary{*/
  /*background-color: #e9f3fa;*/
/*}*/

/*body { background-color:#528b75;; }*/

/*@keyframes snow {*/
  /*0% {background-position: 0px 0px, 0px 0px, 0px 0px;}*/
  /*50% {background-position: 500px 500px, 100px 200px, -100px 150px;}*/
  /*100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}*/
/*}*/
/*@-moz-keyframes snow {*/
  /*0% {background-position: 0px 0px, 0px 0px, 0px 0px;}*/
  /*50% {background-position: 500px 500px, 100px 200px, -100px 150px;}*/
  /*100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}*/
/*}*/
/*@-webkit-keyframes snow {*/
  /*0% {background-position: 0px 0px, 0px 0px, 0px 0px;}*/
  /*50% {background-position: 500px 500px, 100px 200px, -100px 150px;}*/
  /*100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}*/
/*}*/
/*@-ms-keyframes snow {*/
  /*0% {background-position: 0px 0px, 0px 0px, 0px 0px;}*/
  /*50% {background-position: 500px 500px, 100px 200px, -100px 150px;}*/
  /*100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}*/
/*}*/


/*.panel-default{*/
  /*position: relative;*/
/*}*/

/*.christmas-banner-img{*/
  /*position: absolute;*/
  /*left: 0;*/
 /*right: 0;*/
 /*top: -9px;*/
 /*margin: 0 auto;*/
  /*width: 350px;*/
/*}*/

/*.christmas-hat-img{*/
  /*position: absolute;*/
  /*width: 100px;*/
  /*right: -42px;*/
  /*top: -47px;*/
  /*transform: rotate(20deg);*/
/*}*/

/*@media screen and (max-width: 992px) {*/
    /*.christmas-hat-img{*/
      /*bottom: 59%;*/
    /*}*/
/*}*/

/*.navbar-default{*/
  /*background-color: #9b2121;*/
/*color: gold;*/
/*border-color: gold;*/
/*}*/

/*.navbar-brand{*/
  /*color: gold !important;*/
/*}*/
/*.dropdown-toggle{*/
  /*color: gold !important;*/
/*}*/
/*.btn-content{*/
  /*color: black !important;*/
/*}*/
