<alert :show.sync="showTop" placement="top" duration="3000" type="danger" width="400px" dismissable>
    <span class="icon-info-circled alert-icon-float-left"></span>
    <strong>Heads up!</strong>
    <p>This alert needs your attention.</p>
</alert>